

.activate-effect > * {
    transition: transform 100ms ease-in-out,
  }
.activate-effect:active > * {
  transform: scale(0.8);
}


.dock-creation {
  box-shadow: -20px 20px 100px rgba(0, 0, 0, 0.7);
  transition: 
    opacity 0.3s ease-in-out, 
    transform 0.3s cubic-bezier(0, -0.5, 0.5, 1.5),
    left 0.3s ease-in-out

}






.opacity-gradient {
  background: linear-gradient(to bottom, rgb(32, 32, 34) 80%, rgb(0, 0, 0,0));
}

.settings-effects {
  transition: opacity 0.5s ease-in-out, margin 0.5s ease-in-out;
}

.settings-options {
  transition: background-color 0.3s ease-out, font-weight 0.5s ease-out, padding 0.5s ease-in-out, opacity 0.6s ease-in;
}

.follow-button {
  border: none;
  transition: transform 0.2s ease-out;
  padding-left: 10px;
}
.follow-button::after {
  all:unset
}

.follow-button:active {
  transform: scale(0.8);
}


.submit-button::after {
  all:unset
}

.submit-button:active {
  transform: scale(0.8);
  border-radius:  0;
}